.SHComment {
    color: #008000;
    font-style: italic;
    }

.SHString {
    color: #800000;
    }
    
.SHKeyword {
    color: #0808b8;
    }

.DarkTheme .SHComment {
    color: #66af66;
    font-style: italic;
    }

.DarkTheme .SHString {
    color: #ff8282;
    }

.DarkTheme .SHKeyword {
    color: #7070c5;
    }
    
.BlackTheme .SHComment {
    color: #45d845;
    font-style: italic;
    }

.BlackTheme .SHString {
    color: #fd8282;
    }

.BlackTheme .SHKeyword {
    color: #8484d6;
    }

.CTopic a:link,
.CTopic a:visited,
.CTopic a:hover {
    color: #000080;
    }
    .DarkTheme .CTopic a:link,
    .DarkTheme .CTopic a:visited,
    .DarkTheme .CTopic a:hover {
        color: #8d8dff;
        }
    .BlackTheme .CTopic a:link,
    .BlackTheme .CTopic a:visited,
    .BlackTheme .CTopic a:hover {
        color: #4b4be0;
        }
.CTopic a:active {
    color: #800000;
    }
    .DarkTheme .CTopic a:active {
        color: #c55c5c;
        }
    .BlackTheme .CTopic a:active {
        color: #ff2c2c;
        }

td.CDLEntry { color: #183a18; }
.DarkTheme td.CDLEntry { color: #7bc77b; }
.BlackTheme td.CDLEntry { color: #448544; }

.CTitle {
    margin-left: 0.5rem;
    text-transform: none;
    font-size: 1.2rem;
    background-color: #ffffff;
    border-bottom: unset;
    border-top: 1px solid #C0C0C0;
    }
    .DarkTheme .CTitle { border-color: #707070; }
    .BlackTheme .CTitle { border-color: #686868; }

.TGroup .CTitle {
    margin-left: 0rem;
    text-transform: none;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    }
    .DarkTheme .TGroup .CTitle { border-color: #707070; background-color: #3a3a3a; }
    .BlackTheme .TGroup .CTitle { border-color: #686868; background-color: #1f1f1f; }
    .DarkTheme .CTitle { border-color: #707070; background-color: #101010; }
    .BlackTheme .CTitle { border-color: #686868; background-color: #000000; }

.CHeading {
    font-weight: normal;
    font-size: 1.1rem;
    color: #141414;
}
.DarkTheme .CHeading { color: #cfbc90 }
.BlackTheme .CHeading { color: #d3b777 }

.CBody,
.CHeading {
    margin-left: 0.5rem;
}
.NDContentPage.BlackTheme body {
    color: #c5c5c5;
    background-color: #000000;
}
.NDContentPage.DarkTheme body {
    color: #DCDCDC;
    background-color: #101010;
}



.DarkTheme .NDClassPrototype .CPEntry {
    border-color: #62626b #312f68 #312f68 #62626b;
    background-color: #33334B;
}
.DarkTheme .NDClassPrototype .CPEntry.Parent, 
.DarkTheme .NDClassPrototype .CPEntry.Child {
    border-color: #62626b #312f68 #312f68 #62626b;
    background-color: #141430;
}
.DarkTheme .NDClassPrototype .CPEntry.TInterface {
    border-color: #6d8f8f #517678 #517678 #6d8f8f;
    background-color: #334b46;
}
.DarkTheme .NDClassPrototype .CPEntry.TInterface.Parent, 
.DarkTheme .NDClassPrototype .CPEntry.TInterface.Child {
    border-color: #6d8f8f #517678 #517678 #6d8f8f;
    background-color: #142520;
}


.BlackTheme .NDClassPrototype .CPEntry {
    border-color: #62626b #312f68 #312f68 #62626b;
    background-color: #33334B;
}
.BlackTheme .NDClassPrototype .CPEntry.Parent, 
.BlackTheme .NDClassPrototype .CPEntry.Child {
    border-color: #62626b #312f68 #312f68 #62626b;
    background-color: #0a0a18;
}
.BlackTheme .NDClassPrototype .CPEntry.TInterface {
    border-color: #6d8f8f #517678 #517678 #6d8f8f;
    background-color: #334b46;
}
.BlackTheme .NDClassPrototype .CPEntry.TInterface.Parent, 
.BlackTheme .NDClassPrototype .CPEntry.TInterface.Child {
    border-color: #6d8f8f #517678 #517678 #6d8f8f;
    background-color: #0b1412;
}